/*********************************** Tag Selectors ***************************************/

body {
  background-color: #F9F7F7;
  color: #112D4E;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #3F72AF;
}

h3 {
  color: #3F72AF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}

a {
  color: #3F72AF;
}

a:hover {
  background-color: gold; 
}

a:active {
  color: gray;
}
a:visited {
  color:black;
}


/*********************************** Class Selectors ***************************************/

.classclass {

}

.circular {
  border-radius: 100%;
}

/*********************************** ID Selectors ***************************************/


#idid {

}